<h1>About me</h1>
<p>I am a Full-stack Developer with over a year of commercial experience.I create successful websites that are fast, easy to use, and built with best practices.</p>
<hr>
<p>I work to make a better web, one that is fast, easy to use, beautiful, accessible to all. Regardless of your specific business requirements, in solving these challenges, you have a great chance of finding success online.</p>
