<div class="app-card-container">
  <div class="card">
    <h1 class="about-header">About me</h1>
    <hr>
    <div class="card-body">
      <div class="row">
        <div class="col-auto">
          <%= image_tag("me.jpg", alt: "Profile Image", width: "300", class: "profile-img") %>
        </div>
        <div class="col">
          <p>I am a Full-stack Developer with over a year of commercial experience. I create successful websites that are fast, easy to use, and built with best practices.</p>
          <p>I work to make a better web, one that is fast, easy to use, beautiful, accessible to all. Regardless of your specific business requirements, in solving these challenges, you have a great chance of finding success online.</p>
        </div>
      </div>
    </div>
  </div>
</div>
