<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Present Addres</h3>

    <p>Russia, Khabarovsky kray, Komsomolsk-on-Amure, Komsomolskaya 82</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "+79142157576" %></p>

    <h3>Email</h3>

    <p><a href="mailto:yourrasik@mail.com?subject=PortfolioContact">yourrasik@mail.com</a></p>

  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2535.9229735796584!2d136.99313035153514!3d50.53560368900553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ee850c8d76d62bd%3A0x92929a7f5ee23c0a!2z0YPQuy4g0JrQvtC80YHQvtC80L7Qu9GM0YHQutCw0Y8sIDgyLCDQmtC-0LzRgdC-0LzQvtC70YzRgdC6LdC90LAt0JDQvNGD0YDQtSwg0KXQsNCx0LDRgNC-0LLRgdC60LjQuSDQutGA0LDQuSwg0KDQvtGB0YHQuNGPLCA2ODEwMjQ!5e0!3m2!1sru!2sjp!4v1596694600084!5m2!1sru!2sjp" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>

</div>
