<div class="inner cover">
  <h1 class="cover-heading">Hello Everyone!</h1>
  <p class="lead">My name is Iurii Danilov, and I am a Russia's Far East based web developer. I have 1 year experience in web app development with Ruby on Rails and JavaScript. I have diverse set of skills, ranging from design to HTML, CSS and JavaScript.</p>
  <p class="lead">
    <%= link_to "About me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

